.adminLayout {
    display: flex;
    height: 100vh;
    background: #f5f7fb;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #1e1e2f;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.15);
}

.logo {
    color: #fff !important;
    font-size: 22px;
    font-weight: 700;
}


.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 14px;
    text-decoration: none;
    color: #d1d1e1;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.25s;
}

.navItem:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    transform: translateX(4px);
}

.icon {
    font-size: 18px;
}

.active {
    background: #4c82fb;
    color: white !important;
}

/* LOGOUT BUTTON */
.logoutBtn {
    margin-top: auto;
    padding: 12px 14px;
    border: none;
    background: #ff5757;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.25s;
}

.logoutBtn:hover {
    background: #e64545;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}
