.footer-custom {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.footer-bubble {
  background: linear-gradient(180deg, #ffe7df 0%, #f2d6d6 50%, #fddfdd 100%);
  width: 100%;
  padding: 60px 30px 40px 30px;
  box-shadow: 0 5px 15px rgb(255, 209, 217) rgba(216, 120, 120, 0.1); /* Nổi lên */
}

.footer-bubble .social-icon:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.footer-bottom {
  background-color: #524f4f;
  color: #fff;
  font-size: 0.9rem;
}
/* Link các trang */
.page-link-hover {
  color: #f0acac; /* Màu bình thường */
  transition: all 0.3s ease;
  position: relative;
}

/* Hover */
.page-link-hover:hover {
  color: #fbd9d6; /* Màu nổi bật khi hover */
  font-weight: 600;
  transform: translateY(-2px); /* Nhích lên nhẹ */
}

/* Khi active (ví dụ khi đang ở trang đó) */
.page-link-hover.active {
  color: #ff3b2e; /* Màu nổi bật hơn */
  font-weight: 700;
}
.
